<!-- Object: {{ original.id }}: {{original}} -->
{% load criterias_tags %}
{% load l10n %}

<style>
  .strike {
    text-decoration: line-through;
  }

.circle {
    display: inline-block;
    margin-top: -6px;
    vertical-align: middle;
}
.circle img{
  margin: 7px 2px 0 2px;
}


</style>

<script type="text/javascript">
var $jq = jQuery.noConflict();


function display_circle_points(criteria_id, points) {
   if(points > 5){points = 5;}
   non_decimal = Math.floor(points)
   decimals = points - non_decimal
   if(decimals > 0){ half_point = 1;}
   else{half_point = 0;}
   circles_html = '<img src="/media/circle.png">'.repeat(non_decimal)
   circles_html = circles_html + '<img src="/media/circle_half.png">'.repeat(half_point)

   circle_label = $jq("[id='circles-"+criteria_id+"']")
   circle_label.html(circles_html)
}

function dont_apply(obj) {
  // debugger;
  $n = obj.attr('id').split("-").pop();
  $answers = $jq("[id='answers-"+$n+"']");
  $criteria_points = $jq("[id='criteria_points-"+$n+"']");
  $circles = $jq("[id='circles-"+$n+"']");

  if (obj.is(":checked")) {
      //$question.toggleClass('strike');
      $answers.hide()
      $criteria_points.hide()
      $circles.hide()
  } else {
     //$question.toggleClass('strike');
     $answers.show();
     $circles.show()
     if($jq("[name='evaluation_result_type']").val() == "OVERALL"){
        $criteria_points.show()
     }
  }
}
function refresh_circles(){
  for (let i =0; i <= 7; i++) {
    if($jq("[name='evaluation_result_type']").val() == "OVERALL"){
       value = $jq("[name='criteria_points-"+i+"']").val()
       if(value == "none"){value = 0}
       else{ value = parseFloat(value) }
    }else{ //Sum answers result
      value = get_sum_answers_point(i)
    }
    display_circle_points(i, value);
  }
}
function get_sum_answers_point(criteria_id){
  $answers = $jq("[name^='criteria_question-"+criteria_id+"-']")
  total = 0;
  $answers.each(function(i, v){
    value = v.value;
    if(value == "none") { value = 0 }
    else{ value = parseFloat(value) }
    total = total + value
  });
  return total;
}

$jq(document).ready(function() {
    //to avoid the message to leave without saving changes.
    window.onbeforeunload = null;
    window.onunload = null;

    applies = $jq("[name^='dont_apply_criteria-']");
    applies.each(function(i, v){
      dont_apply($jq(v));
    });

    refresh_circles();

    //if check DO NOT APPLY criteria. Strik question and hide answers
    $jq("[id^='dont_apply_criteria-']").click(function () {
      dont_apply($jq(this));
    });


    //If any changes on the criteria points
    $jq("[name^='criteria_points-']").on('change', function () {
      $name_element = $jq(this).attr('name')

      $name_id = "criteria_points-"
      criteria_id = $name_element.substr($name_id.length);
      value = $jq(this).val()
      if(value == "none"){value = 0}
      else{ value = parseFloat(value) }
      display_circle_points(criteria_id, value);
    });


    //If any changes on the answer point
    $jq("[name^='criteria_question-']").on('change', function () {
      $name_element = $jq(this).attr('name')
      $name_id = "criteria_question-"
      criteria_id = $name_element.substr($name_id.length, $name_element.length - $name_id.length -2);

      get_sum_answers_point(criteria_id);
      display_circle_points(criteria_id, total);
    });

    //React depending on point-calculation types chosen.
    $jq("[name='evaluation_result_type']").on('change', function () {
              $val = $jq(this).val()
              $all_criteria_points = $jq("[id^='criteria_points-']");
              $answers = $jq("[name^='answer-']")
              if ($val == "OVERALL") {
                  $answers.each(function(i, v){
                    $jq(this).hide();
                  });
                  $all_criteria_points.each(function(i, v){
                    $jq(this).show();
                  });
              } else { //type SUM_ANSWERS
                  $answers.each(function(i, v){
                    $jq(this).show();
                  });
                  $all_criteria_points.each(function(i, v){
                    $jq(this).hide();
                  });
              }

              refresh_circles();

    });

});
</script>


{% get_all_criterias data filters='myfilter' as criterias %}

{% for criteria in criterias %}
{% get_criteria_answers original criteria as answer %}
<hr>

    <div id="criteria_{{criteria.my_order}}">
      <label class="required">{{criteria.my_order|add:'1'}}:</label>
      <img src="/media/{{criteria.icon}}">
      <label class="required"  for="dont_apply_criteria-{{criteria.my_order}}"><u>{{criteria.name}}</u></label>
      <label for="dont_apply_criteria-{{criteria.my_order}}">
          <input type="checkbox" id="dont_apply_criteria-{{criteria.my_order}}" name="dont_apply_criteria-{{criteria.my_order}}" {% if answer.dont_apply == True %}checked{% endif %}> No aplica
      </label>
          <label style="display: none" id="criteria_points-{{criteria.my_order}}" for="criteria_points-{{criteria.my_order}}">Puntuació del criteri:
            <select name="criteria_points-{{criteria.my_order}}">
                  <option value="none" {% if answer.overal_points == None %}selected{% endif %} >---</option>
                  <option value="0" {% if answer.overal_points == 0 %}selected{% endif %} >0</option>
                  <option value="0.5" {% if answer.overal_points == 0.5 %}selected{% endif %} >½</option>
                  <option value="1" {% if answer.overal_points == 1 %}selected{% endif %} >1</option>
                  <option value="1.5" {% if answer.overal_points == 1.5 %}selected{% endif %} >1½</option>
                  <option value="2" {% if answer.overal_points == 2 %}selected{% endif %} >2</option>
                  <option value="2.5" {% if answer.overal_points == 2.5 %}selected{% endif %} >2½</option>
                  <option value="3" {% if answer.overal_points == 3 %}selected{% endif %} >3</option>
                  <option value="3.5" {% if answer.overal_points == 3.5 %}selected{% endif %} >3½</option>
                  <option value="4" {% if answer.overal_points == 4 %}selected{% endif %} >4</option>
                  <option value="4.5" {% if answer.overal_points == 4.5 %}selected{% endif %} >4½</option>
                  <option value="5" {% if answer.overal_points == 5 %}selected{% endif %} >5</option>
            </select>
          </label>
      <label id="circles-{{criteria.my_order}}" class="circle" ></label>
      <script type="text/javascript">display_circle_points({{criteria.my_order}}, {{answer.total_points|unlocalize}});</script>
    </div>

      <label class="required" style="margin-top:20px;" id="question-{{criteria.my_order}}" >{{criteria.question}}</label>

      <div id="answers-{{criteria.my_order}}"> <!-- All answers -->
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-0">1. {{criteria.answer_0}}</label>
              <select name="criteria_question-{{criteria.my_order}}-0"><option value="none" {% if answer.points_0 == None %}selected{% endif %}>---</option>
                                              <option value="0" {% if answer.points_0 == 0 %}selected{% endif %}>0</option>
                                              <option value="0.5" {% if answer.points_0 == 0.5 %}selected{% endif %}>½</option>
                                              <option value="1" {% if answer.points_0 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-1">2. {{criteria.answer_1}}</label>
              <select name="criteria_question-{{criteria.my_order}}-1"><option value="none" {% if answer.points_1 == None %}selected{% endif %}>---</option>
                                              <option value="0" {% if answer.points_1 == 0 %}selected{% endif %}>0</option>
                                              <option value="0.5" {% if answer.points_1 == 0.5 %}selected{% endif %}>½</option>
                                              <option value="1" {% if answer.points_1 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-2">3. {{criteria.answer_2}}</label>
              <select name="criteria_question-{{criteria.my_order}}-2"><option value="none" {% if answer.points_2 == None %}selected{% endif %}>---</option>
                                            <option value="0" {% if answer.points_2 == 0 %}selected{% endif %}>0</option>
                                            <option value="0.5" {% if answer.points_2 == 0.5 %}selected{% endif %}>½</option>
                                            <option value="1" {% if answer.points_2 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-3">4. {{criteria.answer_3}}</label>
              <select name="criteria_question-{{criteria.my_order}}-3"><option value="none" {% if answer.points_3 == None %}selected{% endif %}>---</option>
                                              <option value="0" {% if answer.points_3 == 0 %}selected{% endif %}>0</option>
                                              <option value="0.5" {% if answer.points_3 == 0.5 %}selected{% endif %}>½</option>
                                              <option value="1" {% if answer.points_3 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-4">5. {{criteria.answer_4}}</label>
              <select name="criteria_question-{{criteria.my_order}}-4"><option value="none" {% if answer.points_4 == None %}selected{% endif %}>---</option>
                                              <option value="0" {% if answer.points_4 == 0 %}selected{% endif %}>0</option>
                                              <option value="0.5" {% if answer.points_4 == 0.5 %}selected{% endif %}>½</option>
                                              <option value="1" {% if answer.points_4 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div>
              <label style="min-width:80%" for="criteria_question-{{criteria.my_order}}-5">6. {{criteria.answer_5}}</label>
              <select name="criteria_question-{{criteria.my_order}}-5"><option value="none" {% if answer.points_5 == None %}selected{% endif %}>---</option>
                                              <option value="0" {% if answer.points_5 == 0 %}selected{% endif %}>0</option>
                                              <option value="0.5" {% if answer.points_5 == 0.5 %}selected{% endif %}>½</option>
                                              <option value="1" {% if answer.points_5 == 1 %}selected{% endif %}>1</option>
              </select>
            </div>
      </div>

    </div><!-- end div all answers -->
    <textarea id="criteria_comment-{{criteria.my_order}}" name="criteria_comment-{{criteria.my_order}}" style="width:100%"  rows="3" placeholder = "Comentaris">{{answer.notes}}</textarea>
    </div><!-- end div criteria -->

{% endfor %}
