{% extends 'admin/login.html' %}
{% load i18n static %}

{% block content_title %}
{% url 'password_reset' as auth_pwd_reset_url %}
{% url 'django_registration_register' as register_url%}
<p style="text-align: center; margin-bottom: 0;">{% blocktrans %}<a href="{{ auth_pwd_reset_url }}">Ha oblidat la contrasenya?</a>{% endblocktrans %}</p>

{% endblock %}
